/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html, body {
  min-height: 100vh;
  height: auto;
  font-family: 'Roboto', sans-serif;
}

html, body {
  height: 100%;
  width: 100%
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.padding {
  padding-bottom: 2rem;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
