<div class="panel panel-primary text-center">
  <div class="panel-heading text-center">
    <h2 class="display-3">User List</h2>
  </div>


  <div class="row">
    <div class="search-hero col-md-12">
      <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Start searching for a user by id, username or email">
    </div>
  </div>


  <div class="panel-body">
    <table class="table table-striped">


      <thead>
      <tr>
        <th>User ID</th>
        <th>Username</th>
        <th>Email</th>

      </tr>
      </thead>
      <tbody>

      <tr *ngFor="let user of users | filter:searchText">
        <td>{{user.userID}}</td>
        <td>{{user.username}}</td>
        <td>{{user.userDetails.email}}</td>
        <td>
          <button (click)="deleteUser(user.userID)" class="btn btn-danger">Delete</button>
          <button (click)="userDetails(user.userID)" class="btn btn-info" style="margin-left: 10px">Details</button>
          <button (click)="updateUser(user.userID)" class="btn alert-success" style="margin-left: 10px">Update</button>
        </td>
      </tr>

      </tbody>
    </table>
  </div>
</div>
