<app-navbar></app-navbar>

<app-carousel></app-carousel>
<app-jumbotron></app-jumbotron>

<!-- WELCOME SECTION-->
<div class="container-fluid padding">
  <div class="row welcome text-center">
    <div class="col-12">
      <h1 class="display-4">
        From pet lovers, for pet lovers.
      </h1>
    </div>
    <hr>
    <div class="col-12">
      <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam asperiores consequuntur, cupiditate
        delectus eius fugiat inventore ipsam iste minus nobis omnis optio recusandae rem repellendus sint suscipit ullam
        voluptatibus.
      </p>
    </div>
  </div>
</div>
<!-- Three Column Section -->
<div class="container-fluid padding">
  <div class="row text-center padding">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <i class="fas fa-code"></i>
      <h3>HTML</h3>
      <p>Some HTML related Text.Some HTML related Text.</p>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <i class="fas fa-bold"></i>
      <h3>BOOTSTRAP</h3>
      <p>Some BOOTSTRAP related Text.Some BOOTSTRAP related Text.</p>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <i class="fab fa-css3-alt"></i>
      <h3>CSS3</h3>
      <p>Some CSS3 related Text.Some CSS3 related Text.</p>
    </div>
  </div>
</div>
<hr class="my-4">

<!-- TWO COLUMN SECTION-->

<div class="container-fluid padding">
  <div class="row padding">
    <div class="col-lg-6">
      <h2>If you build it...</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus at, dicta ea eaque id iste nemo quia
        voluptatibus. Eum nemo, omnis? Amet consectetur illum odit provident, tenetur unde ut vitae!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus at, dicta ea eaque id iste nemo quia
        voluptatibus. Eum nemo, omnis? Amet consectetur illum odit provident, tenetur unde ut vitae!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus at, dicta ea eaque id iste nemo quia
        voluptatibus. Eum nemo, omnis? Amet consectetur illum odit provident, tenetur unde ut vitae!</p>
      <br>
      <a class="btn btn-primary" href="#">Learn more in here!</a>
    </div>
    <div class="col-lg-6">
      <img alt="" class="img-fluid" id="side-image" src="assets/img/dog-logo.png">
    </div>
  </div>


</div>
<hr class="my-4">

<!--Meet the team-->

<app-meet-the-team></app-meet-the-team>

<hr class="my-4">
<app-connect-links></app-connect-links>
<app-footer></app-footer>
