<app-navbar></app-navbar>

<div class="home">
  <div class="landing-text">
    <h1>Happypets</h1>
    <h3>Make your pet the Happyest!</h3>
    <a href="#" class="btn btn-default btn-lg"> Get Started</a>
  </div>
</div>


<div class="padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <img src="assets/img/image-placeholder.jpg" alt="placeholder" class="img-responsive" id="placeholder">
      </div>
      <div class="col-sm-6 text-center">
        <h2>Lorem ipsum</h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem id obcaecati provident sequi? Animi aut autem beatae esse, fugit hic laboriosam optio pariatur quae quam quasi rem temporibus velit voluptatibus?</p>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem id obcaecati provident sequi? Animi aut autem beatae esse, fugit hic laboriosam optio pariatur quae quam quasi rem temporibus velit voluptatibus?</p>
      </div>
    </div>
  </div>
</div>


<div class="padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <h4>Lorem ipsum</h4>
        <p class="lead"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, commodi cum dolor error iste iusto maiores mollitia praesentium repellendus sed similique, unde voluptates voluptatum! Cupiditate id in perspiciatis quis reiciendis?</p>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <img src="assets/img/image-placeholder.jpg" class="img-responsive">
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <h4>Lorem ipsum</h4>
        <p class="lead"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, commodi cum dolor error iste iusto maiores mollitia praesentium repellendus sed similique, unde voluptates voluptatum! Cupiditate id in perspiciatis quis reiciendis?</p>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <img src="assets/img/image-placeholder.jpg" class="img-responsive">
      </div>
    </div>
  </div>
</div>


<div id="fixed">

</div>


<div class="padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h4>Lorem ipsum</h4>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem id obcaecati provident sequi? Animi aut autem beatae esse, fugit hic laboriosam optio pariatur quae quam quasi rem temporibus velit voluptatibus?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem id obcaecati provident sequi? Animi aut autem beatae esse, fugit hic laboriosam optio pariatur quae quam quasi rem temporibus velit voluptatibus? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab architecto aspernatur assumenda consequuntur cum eaque eius eveniet labore, maxime mollitia nam, nesciunt nobis quasi quis ratione saepe sint temporibus tenetur? Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet architecto culpa deleniti dolores ducimus eius eligendi fugiat incidunt minus molestiae, officia pariatur perspiciatis quam qui repellat similique soluta sunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet cumque et ex iste magnam maxime natus non quas soluta. Deserunt dolor eligendi error ipsum numquam quidem temporibus voluptas, voluptates.</p>
      </div>

      <div class="col-sm-6">
        <img src="assets/img/image-placeholder.jpg" alt="placeholder" class="img-responsive">
      </div>

    </div>
  </div>
</div>


<app-footer></app-footer>

