<script src="... /angular-countries/dist/js/ngCountries.js"></script>

<!-- MultiStep Form -->

<script src="../../../../../multibox.js"></script>
<div class="container-fluid" id="grad1">
  <div class="row justify-content-center mt-0">
    <div class="col-11 col-sm-9 col-md-7 col-lg-6 text-center p-0 mt-3 mb-2">
      <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
        <h2><strong>Sign Up Your User Account</strong></h2>
        <p>Fill all form field to go to next step</p>
        <div class="row">
          <div class="col-md-12 mx-0">
            <form id="msform" [formGroup]="registerForm">
              <!-- progressbar -->
              <ul id="progressbar">
                <li class="active" id="account"><strong>Account</strong></li>
                <li id="personal"><strong>Personal</strong></li>
                <li id="confirm"><strong>Finish</strong></li>
              </ul> <!-- fieldsets -->

              <fieldset>
                <div class="form-card">
                  <h2 class="fs-title">Account Information</h2>

                  <small class="mat-error" *ngIf="username.invalid && username.touched"> Your username does not look right </small>
                  <input type="text" name="uname"  formControlName="username" [(ngModel)]="user.username" required placeholder="Username" />

                  <small *ngIf="password.invalid && password.touched" class="mat-error"> Make sure you use 1 letter and 1 number</small>
                  <input type="password"  name="Password"  formControlName="password" [(ngModel)]="user.password" required placeholder="Password" />
                  <input type="password" name="confirmPassword" formControlName="confirmPassword" [(ngModel)]="cpwd" required placeholder="Confirm Password" />

                  <br><br>
                  <small *ngIf="registerForm.invalid"> All form fields are mandatory! </small>
                </div>
                <input type="button" name="next" class="btn  action-button" (click)="gotoList()" value="Already registered?" />
                <input type="button" name="next" class="btn  next action-button" [disabled]="username.invalid || password.invalid" value="Next Step" />
              </fieldset>

              <fieldset>
                <div class="form-card">

                  <h2 class="fs-title">Personal Information</h2>

                  <small class="mat-error" *ngIf="firstName.invalid && firstName.touched"> Your First Name is required! </small>
                  <input type="text" name="fname" formControlName="firstName"   [(ngModel)]="userDetails.firstName" placeholder="First Name" />

                  <small class="mat-error" *ngIf="lastName.invalid && lastName.touched"> Your Last Name is required! </small>
                  <input type="text" name="lname"  formControlName="lastName" [(ngModel)]="userDetails.lastName" placeholder="Last Name" />

                  <small class="mat-error" *ngIf="email.invalid && email.touched"> Your Email is required! </small>
                  <input type="email" name="email"  formControlName="email" [(ngModel)]="userDetails.email" placeholder="Email" />

                  <small class="mat-error" *ngIf="phone.invalid && phone.touched"> Your number is required! </small>
                  <input type="text" name="phone"   formControlName="phone" [(ngModel)]="userDetails.phone" placeholder="Phone Number" />

                  <small class="mat-error" *ngIf="address.invalid && address.touched"> Your address is required! </small>
                  <input type="text" name="address" formControlName="address" [(ngModel)]="userDetails.address" placeholder="Address" />

                  <select name="country" formControlName="country" [(ngModel)]="userDetails.country" class="form-control list-dt" style="margin-top: 5px;  margin-bottom: 5px">
                    <option value="disabled" disabled [hidden]="true" [selected]="true">Select your country</option>
                    <option value="Romania">Romania</option>
                    <option value="Italy">Italy</option>
                  </select>
                  <br><br>
                  <small *ngIf="registerForm.invalid"> All form fields are mandatory! </small>
                </div>
                <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                <input type="button" name="next" class="next action-button" [disabled]="registerForm.invalid" value="Next Step"  />
                </fieldset>

              <fieldset>
                <div class="form-card">
                  <h2 class="fs-title text-center">Success !</h2> <br><br>
                  <div class="row justify-content-center">
                    <div class="col-3"> <img src="https://img.icons8.com/color/96/000000/ok--v2.png" class="fit-image"> </div>
                  </div> <br><br>
                  <div class="row justify-content-center">
                    <div class="col-7 text-center">
                      <h5>You Have Successfully Signed Up</h5>
                    </div>

                  </div>
                </div>
                <input type="button"  (click)="onSubmit()" name="make_payment" class="next action-button" value="Go to Login" />
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
