<div class="modal-dialog text-center">
  <div class="col-sm-9 main-section">
    <div class="modal-content">
      <div class="col-12 user-img">
        <img src="assets/img/face.png" alt="">
      </div>

      <div class="col-12 form-input padding">
        <form action="" (ngSubmit)="onSubmit()">

          <div class="form-group">
            <input type="text" class="form-control"  [(ngModel)]="user.firstName" name="userfirstname" placeholder="First name">
          </div>

          <div class="form-group">
            <input type="text" class="form-control"  [(ngModel)]="user.lastName" name="userlastname" placeholder="Last name">
          </div>

          <div class="form-group">
            <input type="email" class="form-control"   [(ngModel)]="user.email" name="useremail" placeholder="Enter Email">
          </div>

          <div class="form-group">
            <input type="password" class="form-control"  [(ngModel)]="user.password" name="userpassword" placeholder="Enter Password">
          </div>

          <button type="submit" class="btn btn-large btn-block btn-primary" >Register</button>
        </form>

      </div>

      <div  class="col-12" [hidden]="!submitted">
        <h4>You registered successfully!</h4>
      </div>

      <div class="col-12 forgot">
        <a href="/login"> Already registered?</a>
      </div>
    </div>
  </div>
</div>

