<div class="modal-dialog text-center">
  <div class="col-sm-9 main-section">
    <div class="modal-content">
      <div class="col-12 user-img">
        <img src="assets/img/face.png" alt="">
      </div>

      <div class="text-center social-btn">
        <a href="#" class="btn btn-primary btn-block"><i class="fa fa-facebook"></i> Sign in with <b>Facebook</b></a>
        <a href="#" class="btn btn-danger btn-block"><i class="fa fa-google"></i> Sign in with <b>Google</b></a>
      </div>
      <hr>
      <div class="col-12 form-input">
        <form action="">
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Enter Email">
          </div>

          <div class="form-group">
            <input type="password" class="form-control" placeholder="Enter Password">
          </div>

          <button type="submit" class="btn btn-large btn-block btn-primary" (click)="loginEvent()">Login</button>
        </form>
      </div>
      <hr>

      <div class="row">
        <div class="col-md-6 forgot" id="registerLink">
          <a href="/register"> Don`t have an account? Register now here!</a>
        </div>

        <div class="col-md-6 forgot">
          <a href="#"> Forgot Password?</a>
        </div>
      </div>
    </div>
  </div>
</div>

